<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        h1{
            text-align: center;
        }
        #p1{
            text-align: center;
        }
        a{
            float:right;
            margin-bottom:10px;
        }
        
    </style>
</head>
<body>
    <h1>User List</h1>
    <a href="{% url "User_to_excel" %}"><button>Download in Excell</button></a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
            {% for user in page %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <span id='p1'>Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
    </div>
    <div>
        <span>
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}">Previous</a>
            {% endif %}
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
